.App {
  text-align: center;
}

.country_flag{
  display: grid;
  grid-template-columns: auto auto auto;
}

@media  screen and (max-width:868px) {
  .country_flag{
    display: grid;
    grid-template-columns: auto;
  }
}



